---
layout: page
title: BorfirBora.Com
subtitle: Kişisel Blog
use-site-title: true
---

<div class="modal fade" tabindex="-1" role="dialog" id="soru">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Yayınımız Başladı!</h4>
      </div>
      <div class="modal-body">
	      <p>Birlikteliğimizin programı <b>Yakamoz</b>, <b>Radyo Hane</b>'de başladı. Katılmak ister misin?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Hayır</button>
        <button type="button" class="btn btn-primary" id="evet">Evet</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$(document).ready(function(){
	$('#soru').modal('show');
});
	/*	var mesaj = "Birlikteliğimizin yayını Yakamoz, radyomuzda başladı!\nDinlemek ve istekte bulunabilmek için ~Tamam~'a dokun!";
	var s = confirm(mesaj);
	if(s== true){
	   window.location.href="http://radio.borfirbora.com/";
	   } */
</script>

<div class="posts-list">
	{% for post in paginator.posts %}
	<article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">
	  {{ post.title }}
	  </h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      {{ post.date | date: "%d.%m.%Y" }} tarihinde yazıldı
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img alt="{{ post.title }} görseli" src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Devamını&nbsp;Oku]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Etiketler:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/etiket#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
    	{% endfor %}
	</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Daha Yeni Yazılar</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Daha Eski Yazılar &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
