---
layout: base
---

{% include header.html type="post" %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      {% if page.gh-repo %}
      {% assign gh_split = page.gh-repo | split:'/' %}
      {% assign gh_user = gh_split[0] %}
      {% assign gh_repo = gh_split[1] %}

      <div id="header-gh-btns">
        {% if page.gh-badge.size > 0 %}
        {% for badge in page.gh-badge %}
        {% case badge %}
        {% when 'star'%}
        <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=star&count=true"
          frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
        {% when 'watch'%}
        <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=watch&v=2&count=true"
          frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
        {% when 'fork'%}
        <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=fork&count=true"
          frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
        {% when 'follow'%}
        <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&type=follow&count=true" frameborder="0"
          scrolling="0" width="220px" height="20px"></iframe>
        {% endcase %}
        {% endfor %}
        {% endif %}
      </div>
      {% endif %}

      {{ page.content | number_of_words | plus: 250 | divided_by: 180 | append: " dakika okuma süresi" }}

      <article role="main" class="blog-post">
        {{ content }}
        <style>
          .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview {
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            margin-top: 30px !important;
            padding: clamp(17px, 5%, 40px) clamp(17px, 7%, 50px) !important;
            max-width: none !important;
            border-radius: 6px !important;
            box-shadow: 0 5px 25px rgba(34, 60, 47, 0.25) !important;
          }
          .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview,
          .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview *{
            box-sizing: border-box !important;
          }
          .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-heading {
            width: 100% !important;
          }
          .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-heading h5{
            margin-top: 0 !important;
            margin-bottom: 0 !important;
          }
          .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field {
            margin-top: 20px !important;
            width: 100% !important;
          }
          .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input {
            width: 100% !important;
            height: 40px !important;
            border-radius: 6px !important;
            border: 2px solid #e9e8e8 !important;
            background-color: #fff !important;
            outline: none !important;
          }
          .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input {
            color: #000000 !important;
            font-family: "Montserrat" !important;
            font-size: 14px !important;
            font-weight: 400 !important;
            line-height: 20px !important;
            text-align: center !important;
          }
          .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input::placeholder {
            color: #000000 !important;
            opacity: 1 !important;
          }
          
          .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input:-ms-input-placeholder {
            color: #000000 !important;
          }
          
          .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input::-ms-input-placeholder {
            color: #000000 !important;
          }
          .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button {
            margin-top: 10px !important;
            width: 100% !important;
          }
          .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button button {
            width: 100% !important;
            height: 40px !important;
            border: 0 !important;
            border-radius: 6px !important;
            line-height: 0px !important;
          }
          .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button button:hover {
            cursor: pointer !important;
          }
          .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .powered-by-line {
            color: #231f20 !important;
            font-family: "Montserrat" !important;
            font-size: 13px !important;
            font-weight: 400 !important;
            line-height: 25px !important;
            text-align: center !important;
            text-decoration: none !important;
            display: flex !important;
            width: 100% !important;
            justify-content: center !important;
            align-items: center !important;
            margin-top: 10px !important;
          }
          .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .powered-by-line img {
            margin-left: 10px !important;
            height: 1.13em !important;
            max-height: 1.13em !important;
          }
          </style><div class="followit--follow-form-container" attr-a attr-b attr-c attr-d attr-e attr-f><form data-v-1bbcb9ec="" action="https://api.follow.it/subscription-form/NUh6L3RsYU94aisvZ3ZJL3JBS0k2V09Xb0NLUGV0SHVMdElnZzdVWFQvM1NKd2U1eTJsOEM5ejlZdzVTdzIvVGtwN2hoNSs2WDBndTFkQ2ZWSEU4SEhhLzdBUFpyL1NlQnJrV0tWZWxaMSt5amJOOUxVNkpnM0lydVdSU24vNG18bUZXRGxORklIbDE4NlMydktTTmgwbC9GL0RLUWhDN1lNYXAzRWJpZUlPZz0=/8" method="post"><div data-v-1bbcb9ec="" class="form-preview" style="background-color: rgb(255, 255, 255); border-style: solid; border-width: 1px; border-color: rgb(204, 204, 204); position: relative;"><div data-v-1bbcb9ec="" class="preview-heading"><h5 data-v-1bbcb9ec="" style="text-transform: none !important; font-family: Arial; font-weight: bold; color: rgb(0, 0, 0); font-size: 16px; text-align: center;">
                            Yeni içerikleri e-postayla alın:
                          </h5></div> <div data-v-1bbcb9ec="" class="preview-input-field"><input data-v-1bbcb9ec="" type="email" name="email" required="required" placeholder="E-postanızı girin" spellcheck="false" style="text-transform: none !important; font-family: Arial; font-weight: normal; color: rgb(0, 0, 0); font-size: 14px; text-align: center; background-color: rgb(255, 255, 255);"></div> <div data-v-1bbcb9ec="" class="preview-submit-button"><button data-v-1bbcb9ec="" type="submit" style="text-transform: none !important; font-family: Arial; font-weight: bold; color: rgb(255, 255, 255); font-size: 16px; text-align: center; background-color: rgb(0, 0, 0);">
                            Abone ol
                          </button></div></div></form><a href="https://follow.it" class="powered-by-line">Powered by <img src="https://follow.it/static/img/colored-logo.svg" alt="follow.it" height="17px"/></a></div>
      </article>

      <script src="https://utteranc.es/client.js"
        repo="borfirbora/borfirbora.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

      {% if page.tags.size > 0 %}
      <div class="blog-tags">
        Etiketler:
        {% if site.link-tags %}
        {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/etiket#{{- tag -}}">{{- tag -}}</a>
        {% endfor %}
        {% else %}
        {{ page.tags | join: ", " }}
        {% endif %}
      </div>
      {% endif %}

      {% if page.social-share %}
      {% include social-share.html %}
      {% endif %}

      <ul class="pager blog-pager">
        {% if page.previous.url %}
        <li class="previous">
          <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip"
            data-placement="top" title="{{page.previous.title}}">&larr; Önceki Yazı: {{page.previous.title}}</a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="next">
          <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip"
            data-placement="top" title="{{page.next.title}}">Sonraki Yazı: {{page.next.title}}&rarr;</a>
        </li>
        {% endif %}
      </ul>

      {% if page.comments %}
      <div class="disqus-comments">
        {% include disqus.html %}
      </div>
      {% include fb-comment.html %}
      <div class="staticman-comments">
        {% include staticman-comments.html %}
      </div>
      <div class="justcomments-comments">
        {% include just_comments.html %}
      </div>
      {% endif %}
    </div>
  </div>
</div>